* {
    background-color: #1B1A1A;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px #1b1b1b;
  }

  nav {
    padding: 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    position: relative;
  }

  nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 20px;
  }

  nav a:hover {
    color: #3ED4B7;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 150%;
    padding: 10px;
  }

  nav li:hover .submenu {
    display: block;
  }

  .submenu li {
    display: block;
    margin: 10px;
    padding: 0;
  }

  .submenu a {
    text-decoration: none;
    white-space: nowrap;
  }

  .container {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .img-principal {
    display: flex;
    justify-content: center;
    background-color: #000;
  }

  .img-principal img {
    max-height: 83px;
    width: auto;
    margin-top: 39px;
  }

  h1 {
    background-color: #000;
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
  }

  form {
    background-color: #000;
    max-width: 470px;
    margin: auto;
    font-size: 1.1em;
    color: #f3f3f3;
  }

  label, .input-number, .button-container {
    background-color: #000;
  }

  label {
    display: block;
    margin-top: 30px;
  }
  
  input {
    background-color: #fff;
    width: 400px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
  }

  .input-number {
    align-items: center;
  }

  .input-text-coin, .input-text-m, .input-text-rate {
    background-color: #666;
    color: #3ED4B7;
    padding: 0.5em;
    border-radius: 15px 0 0 15px;
    margin-right: -4px;
    display: inline-block;
    text-align: center;
  }

  .input-text-m, .input-text-rate {
    border-radius: 0 15px 15px 0;
    margin-left: -5px;
    width: 80px;
  }

  

  #initial-amount, #monthly-deposit {
    border-radius: 0 5px 5px 0;
    padding: 10px;
  }

  #investment-period, #interest-rate {
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 350px;
  }

  button {
    margin: 30px 0 100px 0;
    padding: 15px 80px;
    font-size: 16px;
    background-color: #3ED4B7;
    border: none;
    box-shadow: 8px 8px 1px #999;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  #result, h3, h4 {
    background-color: #000;
    margin: 20px;
  }

  #result {
    text-align: center;
    color: #f3f3f3;
    display: flex;
  }
  
  #result h3 {
    color: #b4b4b4;
    font-weight: bold;
    margin-bottom: 50px;
  }

  #result h4 {
    color: #FFFFFF;
    font-weight: bold;
  }

  .result-value {
    background-color: #f3f3f3;
    color: #2ea089;
    font-weight: bold;
    font-size: 2em;
    padding: 25px;
    max-width: 300px;
    margin: auto;
    border-radius: 15px;
  }

  .end {
    margin: 200px;
  }

  footer {
    padding: 20px;
    text-align: center;
  }